
/*  ELEMENTS  */

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 48 px;
}

h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 32 px;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16 px;
}

/*  CLASSES  */

.center {
  margin-left: auto;
  margin-right: auto
  text-align: center;
}

/*  IDS  */
